ody{
    background-color: rgb(255, 255, 255);
  }
  .bottom1{
    background-color: #fff4f4;
  }
  .header{
    background-color:#000000e2;
    box-shadow: 0 0 8px rgb(55, 54, 54);
  }
  
  .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(78, 29, 191);
  padding: 1px 10px;
  border-radius: 2px;
  margin: auto;
  box-shadow: 0 0 10px rgb(32, 32, 32);
  height: 70px;
  }
  
  .container1 {
      max-width: 720px;
      margin: 0 auto;
      padding: 20px;
      background-color: #000000cd;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(27, 27, 27, 0.744);
     
     
    }
    
    h1 {
      color: rgb(78, 29, 191);;
    }
    
    .repairLabel {
      font-weight: bold;
      color: #ffffff;
      margin-left: 10%;
    }
    
    .form-select,
    .form-control {
      width: 100%;
      margin-bottom: 15px;
      margin-left: 10%;
    }
    
    .repairBtn {
      width: 100%;
      margin-left: 10%;
      color: #ffffff;
      font-weight: bold;
      background-color:  rgb(78, 29, 191);
      box-shadow: 0 0 10px rgba(27, 27, 27, 0.744);
      border-radius: 10px;
    }
    .repairBtn:hover {
     
      background-color:  rgb(46, 100, 170);
  }
  
    .bottom{
      background-color: hwb(0 100% 0%);
    }
  
    .rTable{
      
      max-width: 1300px;
      margin:  auto;
      padding: 50px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(27, 27, 27, 0.744);
      border-collapse: collapse;
      border: 1px solid #ddd;
      text-align: "center";
     
    }
    .rTable th {
      background-color:  #000000c1;
      color: #fff;
      border: 1px solid #202020;
      padding: 8px;
    }
    .rTable td {
      background-color: rgba(228, 225, 225, 0.748);
      border: 1px solid #383838;
      padding: 8px;
    }
    .rTable tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    .btnAction1{
      width: 40%;
      background-color: rgba(47, 36, 255, 0.927);
      border-radius: 5px;
      font-weight: bold;
      color: #ffffff;
    
    }
    .btnAction2{
      width: 42%;
      background-color: rgb(29, 148, 191);
      border-radius: 5px;
      font-weight: bold;
      color: #ffffff;
    }
  
    .valid{
      color:red;
      margin-left: 10%;
    }
  



    body{
      background: white;
  }
  
  .container-fluid{
      background-color: rgba(16, 16, 16, 0.926);
      height: 65px;
  }
  .nav-link_H{
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 20px;
      transition: background-color 0.3s ease;
  }
  .nav-btn{
      background-color: rgba(16, 16, 16, 0);
      border: none;
      border-radius: 0;
      
  }
  .nav-link_H:hover{
      color:  rgba(67, 137, 218, 0.816);
  }



  
   